.error-message {
	color: red;
	font-style: italic;
}

.section-top-margin,
.smt {
	margin-top: 50px;
}

/**************************************************
	Títulos
**************************************************/
h1.main-page-title {
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
	padding: 20px 30px;	
	background-color: #f9f9f9;
	color: #4a4a4a;
	border-bottom: 1px solid #e1e1e1;
}


/**/
.content-padding-wrap {
	padding: 0 30px;
}


/**************************************************
	Tabelas
**************************************************/
.table {
	&.body-middle tbody td {
		vertical-align: middle;
	}

	&.text-centered{
		td, th {
			text-align: center;
		}
	}
}

.bootstrap-tagsinput {
	width: 100%!important;
}