/*------------------------------------------------
  Template do painel administrativo
------------------------------------------------*/
#layout-panel {
	height: 100%;

	body, #global-wrap, .col {height: 100%}

	body {
		position: relative;
	}
	
	.col {
		margin: 0!important;
		padding: 0!important;
	}

	/* Container global */
	#global-wrap {
		width: 100%;
	}
	/* Container global */

	/* Conteúdo global */
	#global-content {
		position: relative;
		min-height: 100%;
	}
	/* Conteúdo global */

	/* Conteúdo das páginas */
	#page-content {
		padding-bottom: 80px;
	}
	/* Conteúdo das páginas */
	
	/* Menu principal */
	#main-menu {
		position: fixed;
		width: 25%;
		height: 100%;
		background-color: #39c;

		.brand {
			margin: 30px 0;
			color: #fff;
			text-align: center;
			font-size: 18px;
			font-weight: bold;
		}

		a {
			color: #fff;
			font-size: 16px;

			&:hover,
			&:focus {
				background: rgba(255, 255, 255, .3);
			}
		}

		li {
			margin: 0;
			
			a .badge {
				background: #fff;
				color: #39c;
			}
			&.active {
				a .badge {
					background: #39c;
					color: #fff;
				}
			}
		}

		.active a {
			background-color: #fff;
			color: #39c;
			border-radius: 0;
		}
	}
	/* Menu principal */

	/* Menu do topo */
	#top-menu {
		display: table;
		width: 100%;
		padding: 0 30px;
		background-color: #f3f3f3!important;
		border-bottom: 1px solid #e1e1e1;

		a {
			color: #333;

			&:hover,
			&:focus {
				background-color: rgba(0, 0, 0, .05);
			}

			&.back {
				background-color: #e1e1e1;
			}
		}
	}
	/* Menu do topo */

	/* Rodapé global */
	#global-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #555;
	}
	/* Rodapé global */
}