#product-panel-thumb-wrap {
	.img-wrap {
		display: none;
		width: 200px;
		height: 200px;
		margin: 20px auto;
		margin-bottom: 0;
		background-size: cover;
		background-position: center center;
	}

	#product-thumb-upload-submit {
		margin-top: 20px;
	}
}

#product-gallery-wrap {
	.image-box {
		margin-bottom: 20px;
		
		.img-wrap {
			height: 100px;
			margin-bottom: 10px;
			background-size: cover;
			background-position: center center;
		}
	}
}

#product-complement-wrap {
	.form-wrap {
		.pic {
			height: 150px;
			margin-bottom: 15px;
			background-color: #000;
			background-size: cover;
			background-position: center center;
		}
	}
}

#product-manager-complement-rules-alert {
	display: none;
}